<!DOCTYPE html>

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="preload" href="https://fonts.gstatic.com/s/pressstart2p/v14/e3t4euO8T-267oIAQAu6jDQyK3nVivM.woff2" as="font" type="font/woff2" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../public/styles.css" type="text/css" />
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <h1 style="font-family: 'Press Start 2P'"> This is my test site, please see the canvas below </h1>
    <canvas id="mycanvas" style="font-family: 'Press Start 2P">

    </canvas>
</body>

<script src="../public/scripts.mjs" type="module"></script>